*{
   margin:0;
   padding:0;
   box-sizing: border-box
}

h2{ font-family:'Miller' }
p{
   font-family:'MontserratRegular';
   color:#808080ff;
   line-height:2
}
li { list-style-type: none }
a{ text-decoration: none }
a:hover{ text-decoration: none }