.collections{
   h3{
      font-size:0.8rem;
      letter-spacing:2px;
      font-family:'MontserratBold'
   }
   button{
      border:1px solid $primary_color;
      color:$primary_color;
      padding:0.6rem 5.5rem;
   }
   h2{ font-size:2.5rem }
}
